In [8]:
import random
List_notmatch = [20,6,27,19,10,24,18,26,16,1,37,34,14,36,39,29,12,11,8,40,41,4,5,3,13]

random.shuffle(List_notmatch)

print(List_notmatch)

[37, 36, 8, 40, 29, 12, 20, 24, 26, 13, 39, 5, 34, 27, 6, 10, 16, 18, 4, 1, 41, 3, 11, 14, 19]

In [9]:


List_match =[]

for i in range(1,43):
   
    if i not in List_notmatch:
        List_match.append(i)


print(List_match)
print(len(List_match))

[2, 7, 9, 15, 17, 21, 22, 23, 25, 28, 30, 31, 32, 33, 35, 38, 42]
17

In [10]:
import pandas as pd

df = pd.read_csv('timetable.csv')

df

,Team,Pitch Start,Pitch End,Q&A Start,Q&A End,Break Start,Break End,Day
0,1,14:00,14:15,14:15,14:20,14:20,14:25,18 April 2023
1,2,14:25,14:40,14:40,14:45,14:45,14:50,18 April 2023
2,3,14:50,15:05,15:05,15:10,15:10,15:15,18 April 2023
3,4,15:15,15:30,15:30,15:35,15:35,15:40,18 April 2023
4,5,15:40,15:55,15:55,16:00,16:00,16:05,18 April 2023
5,6,16:05,16:20,16:20,16:25,16:25,16:30,18 April 2023
6,7,16:30,16:45,16:45,16:50,16:50,16:55,18 April 2023
7,8,14:00,14:15,14:15,14:20,14:20,14:25,19 April 2023
8,9,14:25,14:40,14:40,14:45,14:45,14:50,19 April 2023
9,10,14:50,15:05,15:05,15:10,15:10,15:15,19 April 2023
10,11,15:15,15:30,15:30,15:35,15:35,15:40,19 April 2023
11,12,15:40,15:55,15:55,16:00,16:00,16:05,19 April 2023
12,13,16:05,16:20,16:20,16:25,16:25,16:30,19 April 2023
13,14,16:30,16:45,16:45,16:50,16:50,16:55,19 April 2023
14,15,14:00,14:15,14:15,14:20,14:20,14:25,25 April 2023
15,16,14:25,14:40,14:40,14:45,14:45,14:50,25 April 2023
16,17,14:50,15:05,15:05,15:10,15:10,15:15,25 April 2023
17,18,15:15,15:30,15:30,15:35,15:35,15:40,25 April 2023
18,19,15:40,15:55,15:55,16:00,16:00,16:05,25 April 2023
19,20,16:05,16:20,16:20,16:25,16:25,16:30,25 April 2023
20,21,16:30,16:45,16:45,16:50,16:50,16:55,25 April 2023
21,22,14:00,14:15,14:15,14:20,14:20,14:25,26 April 2023
22,23,14:25,14:40,14:40,14:45,14:45,14:50,26 April 2023
23,24,14:50,15:05,15:05,15:10,15:10,15:15,26 April 2023
24,25,15:15,15:30,15:30,15:35,15:35,15:40,26 April 2023
25,26,15:40,15:55,15:55,16:00,16:00,16:05,26 April 2023
26,27,16:05,16:20,16:20,16:25,16:25,16:30,26 April 2023
27,28,16:30,16:45,16:45,16:50,16:50,16:55,26 April 2023
28,29,14:00,14:15,14:15,14:20,14:20,14:25,2 May 2023
29,30,14:25,14:40,14:40,14:45,14:45,14:50,2 May 2023
30,31,14:50,15:05,15:05,15:10,15:10,15:15,2 May 2023
31,32,15:15,15:30,15:30,15:35,15:35,15:40,2 May 2023
32,33,15:40,15:55,15:55,16:00,16:00,16:05,2 May 2023
33,34,16:05,16:20,16:20,16:25,16:25,16:30,2 May 2023
34,35,16:30,16:45,16:45,16:50,16:50,16:55,2 May 2023
35,36,14:00,14:15,14:15,14:20,14:20,14:25,3 May 2023
36,37,14:25,14:40,14:40,14:45,14:45,14:50,3 May 2023
37,38,14:50,15:05,15:05,15:10,15:10,15:15,3 May 2023
38,39,15:15,15:30,15:30,15:35,15:35,15:40,3 May 2023
39,40,15:40,15:55,15:55,16:00,16:00,16:05,3 May 2023
40,41,16:05,16:20,16:20,16:25,16:25,16:30,3 May 2023
41,42,16:30,16:45,16:45,16:50,16:50,16:55,3 May 2023

In [12]:
df = pd.read_csv('timetable.csv')

df0 =df[ (df['Day'] !='25 April 2023') & (df['Day'] !='26 April 2023')]


df['Team'] = -1
Index      = df0.index[0:len(List_notmatch)].tolist()

df.loc[Index ,'Team'] = List_notmatch 

I = df[df['Team'] == -1].index.tolist()

random.shuffle(I)

df.loc[I,'Team'] = List_match

df.to_csv('Updated_timetable.csv',index=False)

df

,Team,Pitch Start,Pitch End,Q&A Start,Q&A End,Break Start,Break End,Day
0,37,14:00,14:15,14:15,14:20,14:20,14:25,18 April 2023
1,36,14:25,14:40,14:40,14:45,14:45,14:50,18 April 2023
2,8,14:50,15:05,15:05,15:10,15:10,15:15,18 April 2023
3,40,15:15,15:30,15:30,15:35,15:35,15:40,18 April 2023
4,29,15:40,15:55,15:55,16:00,16:00,16:05,18 April 2023
5,12,16:05,16:20,16:20,16:25,16:25,16:30,18 April 2023
6,20,16:30,16:45,16:45,16:50,16:50,16:55,18 April 2023
7,24,14:00,14:15,14:15,14:20,14:20,14:25,19 April 2023
8,26,14:25,14:40,14:40,14:45,14:45,14:50,19 April 2023
9,13,14:50,15:05,15:05,15:10,15:10,15:15,19 April 2023
10,39,15:15,15:30,15:30,15:35,15:35,15:40,19 April 2023
11,5,15:40,15:55,15:55,16:00,16:00,16:05,19 April 2023
12,34,16:05,16:20,16:20,16:25,16:25,16:30,19 April 2023
13,27,16:30,16:45,16:45,16:50,16:50,16:55,19 April 2023
14,33,14:00,14:15,14:15,14:20,14:20,14:25,25 April 2023
15,7,14:25,14:40,14:40,14:45,14:45,14:50,25 April 2023
16,9,14:50,15:05,15:05,15:10,15:10,15:15,25 April 2023
17,30,15:15,15:30,15:30,15:35,15:35,15:40,25 April 2023
18,22,15:40,15:55,15:55,16:00,16:00,16:05,25 April 2023
19,2,16:05,16:20,16:20,16:25,16:25,16:30,25 April 2023
20,32,16:30,16:45,16:45,16:50,16:50,16:55,25 April 2023
21,25,14:00,14:15,14:15,14:20,14:20,14:25,26 April 2023
22,28,14:25,14:40,14:40,14:45,14:45,14:50,26 April 2023
23,42,14:50,15:05,15:05,15:10,15:10,15:15,26 April 2023
24,38,15:15,15:30,15:30,15:35,15:35,15:40,26 April 2023
25,23,15:40,15:55,15:55,16:00,16:00,16:05,26 April 2023
26,15,16:05,16:20,16:20,16:25,16:25,16:30,26 April 2023
27,35,16:30,16:45,16:45,16:50,16:50,16:55,26 April 2023
28,6,14:00,14:15,14:15,14:20,14:20,14:25,2 May 2023
29,10,14:25,14:40,14:40,14:45,14:45,14:50,2 May 2023
30,16,14:50,15:05,15:05,15:10,15:10,15:15,2 May 2023
31,18,15:15,15:30,15:30,15:35,15:35,15:40,2 May 2023
32,4,15:40,15:55,15:55,16:00,16:00,16:05,2 May 2023
33,1,16:05,16:20,16:20,16:25,16:25,16:30,2 May 2023
34,41,16:30,16:45,16:45,16:50,16:50,16:55,2 May 2023
35,3,14:00,14:15,14:15,14:20,14:20,14:25,3 May 2023
36,11,14:25,14:40,14:40,14:45,14:45,14:50,3 May 2023
37,14,14:50,15:05,15:05,15:10,15:10,15:15,3 May 2023
38,19,15:15,15:30,15:30,15:35,15:35,15:40,3 May 2023
39,17,15:40,15:55,15:55,16:00,16:00,16:05,3 May 2023
40,21,16:05,16:20,16:20,16:25,16:25,16:30,3 May 2023
41,31,16:30,16:45,16:45,16:50,16:50,16:55,3 May 2023