In [11]:
# load dara from csv file

import pandas as pd
import numpy as np


def get_data(No):
    
    df         = pd.read_csv('Group2.csv')
    df_temp    = df['No'+str(No)].str.split(' ',expand=True)[[0,1,2,3]]
    df_temp[2] = df_temp[2] +' ' + df_temp[3]

    df_temp.drop(3,axis=1,inplace=True)
    df_temp = df_temp.reindex(columns=[1,2,0])

    df_temp.columns = ['Student_ID'+str(No),'Name'+str(No),'Index'+str(No)]

    return df_temp



df_all = pd.concat([get_data(1),get_data(2)],axis=1)
df_all['Team'] = range(1,df_all.shape[0]+1)
df_all = df_all.reindex(columns=['Team','Student_ID1','Name1','Index1','Student_ID2','Name2','Index2'])


# shuffle the rows using the sample method
shuffled_df          = df_all.sample(frac=1, random_state=3).reset_index(drop=True)
shuffled_df['Team'] = range(1,df_all.shape[0]+1)
df_all              = shuffled_df  



df_all.to_csv('group_mapping.csv', index=True)

df_all

,Team,Student_ID1,Name1,Index1,Student_ID2,Name2,Index2
0,1,63070160,นายวีรวัต กมลเชษฐ์,32,63070164,นายศรัณย์ เชิดวงศ์ตระกูล,35
1,2,63070076,นายธนวัฒน์ จันต๊ะวงค์,66,63070121,นายพิสิฐไชย เรืองวัฒนาพงษ์,76
2,3,63070056,นายณัฐพล วังคำ,63,63070085,นายธิติวุฒิ หุ่นท่าไม้,71
3,4,63070012,นางสาวเกษมณี สถิตวิภารวงศ์,48,63070168,นายศุภชัย แก้วจุ้ย,80
4,5,63070047,นายณภัทร อังธนากุล,60,63070080,นายธนาพงศ์ ปทุมสีมา,68
5,6,63070029,นางสาวชนิกา ปรีชาพลกุล,51,63070031,นางสาวชนิสรา วัชรพรกุล,52
6,7,63070014,นางสาวขวัญพิชชา อิ่มโดด,1,63070156,นางสาววรรณษา ชนม์ชูชาติ,30
7,8,63070105,นายปวิตร เปรมปรี,15,63070114,นายพสุธา จันทร์มณี,17
8,9,63070077,นายธนวิชญ์ ลักษณะ,13,63070137,นายภูฟ้า รุจิภาสวัฒน์,21
9,10,63070073,นายธนเดช แซ่ฉั่ว,12,63070172,นายสมชัย จงราเชนทร์,81
10,11,63070173,นายสรฉัตร สังขพันธ์,38,63070134,นายภานุพงศ์ เฉลยรัตน์,78
11,12,63070081,นายธนิต ธนะปฐมชัย,69,63070189,นายอิงควัฒน์ ขันสันเทียะ,84
12,13,63070048,นางสาวณัชชา ธีระแนว,5,63070052,นางสาวณัฐธิดา เปล่งขำ,7
13,14,63070145,นางสาวรจนา หอมประสิทธิ์,24,63070155,นางสาววรณัน วารีประเสริฐ,29
14,15,63070083,นายธาดา อัมพรประเสริฐ,70,63070040,นายเชาว์วัฒน์ อินทรพานิชย์,57
15,16,63070165,นายศราวุธ อุนารัตน์,36,63070181,นายอธิชาติ ชูศรี,40
16,17,63070107,นายปาณัสม์ เจริญรักษ์,74,63070150,นายรามกร วงศ์จันทร์,26
17,18,63070115,นายพัชรพล ศาศวัตเตชะ,18,63070162,นายวุฒิพร แจ่มกระจ่าง,33
18,19,63070118,นายพิทวัท นุชคง,75,63070132,นายภาณุพงศ์ แก้วคำ,77
19,20,63070001,นางสาวกชกร เขจรไชย,45,63070078,นางสาวธนัชพร รัศมีสุริยะ,67
20,21,63070054,นายณัฐพงษ์ ปทุมสูตร,62,63070061,นางสาวณัฐวลี จำปาสด,65
21,22,63070151,นางสาวรุจรวี มีลา,27,63070182,นางสาวอนัญญา จินาพงศ์,41
22,23,63070148,นางสาวรวิพร สมอฤทธิ์,25,63070177,นางสาวสุพิชญา ทำสุนา,39
23,24,63070022,นางสาวจุฑามาศ ชนาฐิติกุล,50,63070037,นายชินาธิป จันทร์พงษ์,55
24,25,63070035,นายชาคริต ดิสกุล,54,63070104,นางสาวปวริศา วิทยาวงศรุจิ,73
25,26,63070067,นายทัชชน เจริญภูวดล,10,63070133,นายภาธร วัฒน์ประกายรัตน์,20
26,27,63070059,นายณัฐภัทร วัฒนพิทักษ์พงศ์,64,63070169,นายศุภชัย ชื่นสุขศรี,37
27,28,63070010,นายกิตติภพ ปังตระกูล,46,63070179,นายสุวรรณพงษ์ มีมณี,82
28,29,63070044,นายฏังกบดี สถิตเกษมสานต์,4,63070141,นายยศนันทน์ กลัดแขก,23
29,30,63070068,นายทิวัตถ์ ภาคภูมิไพศาล,11,63070028,นายชนะพล ชื่นชูวิทย์,3
30,31,63070051,นายณัฐดนัย วัฒพฤติไพศาล,6,63070138,นายภูริวัจน์ อุดมพิทยสิทธิ์,22
31,32,63070046,นายณภัทร พ่อบุตรดี,59,63070049,นายณัชพล นันทสันติ,61
32,33,63070011,นางสาวกุลนิษฐ์ จูงาม,47,63070094,นางสาวนฤมล ทองเชื้อ,72
33,34,63070065,นายทธรรษ ธีรชูวิวัฒน์,9,63070153,นายวงศพัทธ์ อัศววงศานนท์,28
34,35,63070106,นายปัณณธร กระแสร์วิก,16,63070158,นายวิศัลย์ สุวรรณรัตน์,31
35,36,63070021,นายจีรภัทร สกุลทรัพย์วัฒนา,49,63070034,นายชัยรวิชญ์ เอี่ยมขจรชัย,53
36,37,63070163,นายศรัณญ์ วิวัฒน์บวรวงษ์,34,63070186,นายอริยพล อูนากูล,42
37,38,63070039,นางสาวชุติมา ณะแก้ว,56,63070140,นางสาวยมลพร เชิดบำรุง,79
38,39,63070027,นางสาวชนกนันท์ นุ่มน้อย,2,63070188,นางสาวอาภัสรา โมรัษเฐียร,43
39,40,63070055,นายณัฐพงษ์ ไวยจรี,8,63070097,นายบุฒฐไชย์ อารมณ์,14
40,41,63070125,นายพีรพัฒน์ กิจพร้อมผล,19,63070184,นายอภิบุญ สมศรี,83
41,42,63070175,นางสาวสัณฐิตา กระจ่างวงศ์ไพศาล,44,63070045,นายณฐนน หาญชนะ,58

In [12]:
import pandas as pd
from datetime import datetime, timedelta

def generate_day_timetable(day):
    start_time = datetime.strptime("14:00", "%H:%M")
    pitch_duration = timedelta(minutes=15)
    qna_duration = timedelta(minutes=5)
    break_duration = timedelta(minutes=5)

    timetable = []
    for i in range(7):
        pitch_end = start_time + pitch_duration
        qna_start = pitch_end
        qna_end = qna_start + qna_duration
        break_start = qna_end
        break_end = break_start + break_duration

        timetable.append((f'Team {i+1}', start_time.strftime("%H:%M"), pitch_end.strftime("%H:%M"), qna_start.strftime("%H:%M"), qna_end.strftime("%H:%M"), break_start.strftime("%H:%M"), break_end.strftime("%H:%M")))
        start_time = break_end

    df = pd.DataFrame(timetable, columns=['Team', 'Pitch Start', 'Pitch End', 'Q&A Start', 'Q&A End', 'Break Start', 'Break End'])
    df['Day'] = f'Day {day}'
    return df

days_data = []

for day in range(1, 7):
    day_df = generate_day_timetable(day)
    days_data.append(day_df)

timetable_df = pd.concat(days_data, axis=0, ignore_index=True)
timetable_df['Team'] = range(1,df_all.shape[0]+1)
timetable_df['Day'].replace('Day 1','18 April 2023', inplace=True)
timetable_df['Day'].replace('Day 2','19 April 2023', inplace=True)
timetable_df['Day'].replace('Day 3','25 April 2023', inplace=True)
timetable_df['Day'].replace('Day 4','26 April 2023', inplace=True)
timetable_df['Day'].replace('Day 5','2 May 2023', inplace=True)
timetable_df['Day'].replace('Day 6','3 May 2023', inplace=True)

timetable_df.to_csv('timetable.csv', index=False)

timetable_df

,Team,Pitch Start,Pitch End,Q&A Start,Q&A End,Break Start,Break End,Day
0,1,14:00,14:15,14:15,14:20,14:20,14:25,18 April 2023
1,2,14:25,14:40,14:40,14:45,14:45,14:50,18 April 2023
2,3,14:50,15:05,15:05,15:10,15:10,15:15,18 April 2023
3,4,15:15,15:30,15:30,15:35,15:35,15:40,18 April 2023
4,5,15:40,15:55,15:55,16:00,16:00,16:05,18 April 2023
5,6,16:05,16:20,16:20,16:25,16:25,16:30,18 April 2023
6,7,16:30,16:45,16:45,16:50,16:50,16:55,18 April 2023
7,8,14:00,14:15,14:15,14:20,14:20,14:25,19 April 2023
8,9,14:25,14:40,14:40,14:45,14:45,14:50,19 April 2023
9,10,14:50,15:05,15:05,15:10,15:10,15:15,19 April 2023
10,11,15:15,15:30,15:30,15:35,15:35,15:40,19 April 2023
11,12,15:40,15:55,15:55,16:00,16:00,16:05,19 April 2023
12,13,16:05,16:20,16:20,16:25,16:25,16:30,19 April 2023
13,14,16:30,16:45,16:45,16:50,16:50,16:55,19 April 2023
14,15,14:00,14:15,14:15,14:20,14:20,14:25,25 April 2023
15,16,14:25,14:40,14:40,14:45,14:45,14:50,25 April 2023
16,17,14:50,15:05,15:05,15:10,15:10,15:15,25 April 2023
17,18,15:15,15:30,15:30,15:35,15:35,15:40,25 April 2023
18,19,15:40,15:55,15:55,16:00,16:00,16:05,25 April 2023
19,20,16:05,16:20,16:20,16:25,16:25,16:30,25 April 2023
20,21,16:30,16:45,16:45,16:50,16:50,16:55,25 April 2023
21,22,14:00,14:15,14:15,14:20,14:20,14:25,26 April 2023
22,23,14:25,14:40,14:40,14:45,14:45,14:50,26 April 2023
23,24,14:50,15:05,15:05,15:10,15:10,15:15,26 April 2023
24,25,15:15,15:30,15:30,15:35,15:35,15:40,26 April 2023
25,26,15:40,15:55,15:55,16:00,16:00,16:05,26 April 2023
26,27,16:05,16:20,16:20,16:25,16:25,16:30,26 April 2023
27,28,16:30,16:45,16:45,16:50,16:50,16:55,26 April 2023
28,29,14:00,14:15,14:15,14:20,14:20,14:25,2 May 2023
29,30,14:25,14:40,14:40,14:45,14:45,14:50,2 May 2023
30,31,14:50,15:05,15:05,15:10,15:10,15:15,2 May 2023
31,32,15:15,15:30,15:30,15:35,15:35,15:40,2 May 2023
32,33,15:40,15:55,15:55,16:00,16:00,16:05,2 May 2023
33,34,16:05,16:20,16:20,16:25,16:25,16:30,2 May 2023
34,35,16:30,16:45,16:45,16:50,16:50,16:55,2 May 2023
35,36,14:00,14:15,14:15,14:20,14:20,14:25,3 May 2023
36,37,14:25,14:40,14:40,14:45,14:45,14:50,3 May 2023
37,38,14:50,15:05,15:05,15:10,15:10,15:15,3 May 2023
38,39,15:15,15:30,15:30,15:35,15:35,15:40,3 May 2023
39,40,15:40,15:55,15:55,16:00,16:00,16:05,3 May 2023
40,41,16:05,16:20,16:20,16:25,16:25,16:30,3 May 2023
41,42,16:30,16:45,16:45,16:50,16:50,16:55,3 May 2023